 img {
  height: auto;
  max-width: auto;
  width: auto;
}

input[type="text"],
input[type="password"],
input[type="email"]{
  width: 117px;
  margin-right:10px; 
}

/**
 * Responsive IE styles -- all IE (8 and below) browsers, including desktop, get tablet portrait responsive styles
 */
 
 /* 
 * Stack elements.
 **/
#header .header-right-column,
#header .header-left-column,
#page #sidebar-first,
#page #sidebar-second,
#page #content,
#page #content-inner,
#footer {
	float: none;
	width: 100%;
	position:relative;
	margin:0;
	padding:0;
}

/* 
 * Modify display of newly stacked elements.
 **/
#sidebar-first,
#sidebar-second,
#content {
	margin-bottom:25px;
	padding-bottom:25px;
	clear:both;
}

/* 
 * Adjust header elements.
 **/
 .header-left-column {
  width: 100%;
}
.header-right-column {
	margin: 0;
	width: 100%;
}

#logo {
  margin: 0 10px 0 0;
}
#logo img {
  height: 73px;
  width: 60px;
}
#site-name {
  font-size: 28px;
  line-height: 28px;
}
#site-slogan {
  font-size: 29px;
  line-height: 32px;
  padding-bottom: 4px;
}

#block-user-login  form {
  float:right;
}

#block-user-login .item-list {
	clear: both;
	margin-left: 2px;
}
#block-user-login a {
	font-size: 15px;
}
#block-user-login .form-type-textfield,
#block-user-login .form-type-password 	{
	width:108px;
}

/* 
 * Adjust nav and search bar elements.
 **/
#block-system-main-menu h2,
#main-menu-title {
  display:block;
  float:none;
  background: #444 url(../images/right-arrow.gif) 11px 11px no-repeat;
}
.expanded #block-system-main-menu h2,
.expanded #main-menu-title {
	background: #444 url(../images/down-arrow.gif) 8px 14px no-repeat;
}

nav ul {
	display:none;
}
nav.expanded  ul {
	display:block;
}
nav ul li {
	float:none;
	clear:both;
}
nav ul li a, 
nav ul li a:visited {
	margin-right:0;
	margin-bottom:0;
	border-bottom: 1px dotted white;
}
.block-search .form-text {
	padding-top: 8px;
}
.nav-search-left-column,
.nav-search-right-column {
	float:none;
	width:100%;
	margin:0;
}
.region-navbar-right {
	float: none;
	padding: 7px 8px 8px 18px;
}

/* 
 * Modify footer elements.
 **/
 #footer {
   padding-top: 12px;
 }
 
#footer div.block.blocks-in-region-2,
#footer div.block.blocks-in-region-3,
#footer div.block.blocks-in-region-4,
#footer div.block.blocks-in-region-5 {
	border-bottom: 1px solid #E8E8E8;
	float: none;
	padding: 0 0 25px 0;
	margin:0 0 25px 0;
	max-width: 100%;
	width:100%;
	clear:both;
}
#footer div.block-inner {
	float: none;
	padding:0;
	margin:0;
}
