/**
 * Put your custom CSS and CSS overrides in this file 
 * 
 */
 
 
  /**
 * Custom styles specific to www.responsivetheme.org content (remove from theme project files).
 */

 
/**
 * Put your responsive CSS and CSS overrides in the mediaquery declarations below. This for mobile theming.
 * 
 */
 
/* smartphone portrait (smallest) */
@media screen and (min-width: 0px) and (max-width: 320px) {

  /* place css declarations here */
  .sample-declaration  {
    width: auto;
  }
}
 
/* smartphone landscape */
@media screen and (min-width: 321px) and (max-width: 600px) {

  /* place css declarations here */

}
 
/* tablet portrait  */
@media screen and (min-width: 601px) and (max-width: 768px) {

  /* place css declarations here */

}

/* tablet lanscape  */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* place css declarations here */

}
 
/* small monitor  */
@media screen and (min-width: 1025px) and (max-width: 1440px) {

  /* place css declarations here */

}
 
/* small monitor  */
@media screen and (min-width: 1441px) {

  /* place css declarations here */

}

