/**
 * @file
 * Responsive theme's smartphone portrait view CSS file. Default settings for very small screens. 
 *
 * Free to use under the MIT license.
 * http: //www.opensource.org/licenses/mit-license.php
 * Created by Rowan Price, sponsored by Freeflow Digital LLC.
 */

/**
 * Stack elements.
 */
#header .header-right-column,
#header .header-left-column,
#page #sidebar-first,
#page #sidebar-second,
#page #content,
#page #content-inner,
#footer {
	float: none;
	width: auto;
	position:relative;
	margin:0;
	padding:0;
}

/* 
 * Modify display of newly stacked elements.
 */
#page #sidebar-first,
#page #sidebar-second,
#page #content {
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:2px dotted #e8e8e8;
}

/* 
 * Adjust header elements.
 */
 .header-right-column {
margin: 10px 0 10px 0;
}
 #logo {
  margin: 0 3px 0 0;
}
#logo img {
  height: 29px;
  width: 24px;
}
#site-name {
  font-size: 23px;
  line-height: 23px;
}
#site-slogan {
  display:none;
}
 
#block-user-login .item-list {
  clear: both;
  padding-top:10px;
}
#block-user-login .item-list {
	clear: both;
	margin-left: 2px;
}
#block-user-login a {
	font-size: 15px;
}
#block-user-login .form-type-textfield,
#block-user-login .form-type-password 	{
	width:108px;
	margin-top: 3px;
}

/* 
 * Adjust nav and search bar.
 */
#block-system-main-menu h2,
#main-menu-title {
  display:block;
  float:none;
  background: #444 url(../images/right-arrow.gif) 11px 11px no-repeat;
}
.expanded #block-system-main-menu h2,
.expanded #main-menu-title {
	background: #444 url(../images/down-arrow.gif) 8px 14px no-repeat;
}

nav ul {
	display:none;
}
nav.expanded  ul {
	display:block;
}
nav ul li {
	float:none;
	clear:both;
}
nav ul li a, 
nav ul li a:visited {
	margin-right:0;
	margin-bottom:0;
	border-bottom: 1px dotted white;
}
nav ul li:hover ul.menu {
  left: 9999em;
}

.block-search .form-text {
	padding-top: 8px;
}
.nav-search-left-column,
.nav-search-right-column {
	float:none;
	width:100%;
	margin:0;
}
.region-navbar-right {
	float: none;
	padding: 12px 8px 10px 6px;
}

/* 
 * Adjust footer elements.
 */
 #footer {
   padding-top: 12px;
 }
 
#footer div.block.blocks-in-region-2,
#footer div.block.blocks-in-region-3,
#footer div.block.blocks-in-region-4,
#footer div.block.blocks-in-region-5 {
	border-bottom: 1px solid #E8E8E8;
	float: none;
	padding: 0 0 25px 0;
	margin:0 0 25px 0;
	max-width: 100%;
	width:100%;
	clear:both;
}
#footer div.block-inner {
	float: none;
	padding:0;
	margin:0;
}

/* responsive debug code - toggle on responsive.css */
.smartphone-portrait.resolution {
  display: block;
}