/**
 * @file
 * Responsive theme's tablet landscape view CSS file. Default settings for ipads and other tablets in landscape view, netbooks, small laptops. 
 *
 * Free to use under the MIT license.
 * http: //www.opensource.org/licenses/mit-license.php
 * Created by Rowan Price, sponsored by Freeflow Digital LLC.
 */
 
 /* 
 * Adjust header elements.
 **/
.header-left-column {
  float: left;
  width: 56%;
}
.header-right-column {
	margin: 0;
	width: 44%;
  float: right;
}

#logo {
  margin: 0 10px 0 0;
}
#logo img {
  height: 73px;
  width: 60px;
}
#site-name {
  font-size: 28px;
  line-height: 28px;
}
#site-slogan {
  font-size: 31px;
  line-height: 36px;
}

#block-user-login  form {
  float:right;
}

/* 
 * Adjust nav and search bar elements.
 **/
nav ul li a, 
nav ul li a:visited {
	font-size: 13px;
	padding: 8px 13px 9px;
}

.block-search .form-text {
	width: 115px;
}

/* responsive debug code - toggle on responsive.css */
.tablet-landscape.resolution {
  display: block;
}